{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AChat | Future Of AI</title>
    <link href="{% static 'ChatBot/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'ChatBot/css/custom.css' %}" rel="stylesheet" type="text/css">
    {% block styles %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link navb" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navb" href="{% url 'files' %}">Files</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navb" href="{% url 'rating' %}">Rate Bot</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-auto">
                    <a class="nav-link navb" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="{% static 'ChatBot/js/jquery.min.js' %}"></script>
    <script src="{% static 'ChatBot/js/bootstrap.min.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>